<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8OjT74TGUz0FDQ3b7-9MjTxFwze_Elx4</string>
	<key>GCM_SENDER_ID</key>
	<string>837503318475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fourthyearproject-2468e</string>
	<key>STORAGE_BUCKET</key>
	<string>fourthyearproject-2468e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837503318475:ios:7d310ded121ec7ce699e4e</string>
	<key>DATABASE_URL</key>
	<string>https://fourthyearproject-2468e-default-rtdb.firebaseio.com</string>
</dict>
</plist>